# one hot encoding

In [27]:
import seaborn as sns
import pandas as pd

In [28]:
df=sns.load_dataset("tips")

In [29]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
df["day"].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
encoder=OneHotEncoder()

In [33]:
encoded=encoder.fit_transform(df[["day"]])

In [37]:
df_encoded=pd.DataFrame(encoded.toarray(), columns=encoder.get_feature_names_out())

In [41]:
pd.concat([df["day"],df_encoded],axis=1)

      day  day_Fri  day_Sat  day_Sun  day_Thur
0     Sun      0.0      0.0      1.0       0.0
1     Sun      0.0      0.0      1.0       0.0
2     Sun      0.0      0.0      1.0       0.0
3     Sun      0.0      0.0      1.0       0.0
4     Sun      0.0      0.0      1.0       0.0
..    ...      ...      ...      ...       ...
239   Sat      0.0      1.0      0.0       0.0
240   Sat      0.0      1.0      0.0       0.0
241   Sat      0.0      1.0      0.0       0.0
242   Sat      0.0      1.0      0.0       0.0
243  Thur      0.0      0.0      0.0       1.0

[244 rows x 5 columns]